{% extends "base3.njk" %}


{% block body %}
<body>
    <div class="container">

  
          <div class="row rb">
          <form action="" method="post" class="mg">
            <span class="rb2">weight:</span> <input type="number" name="weight"> 
            <span class="rb2">seat:</span>  <input type="text" name="seat">
            <span class="rb2">class:</span> <input type="text" name="class">
            <input type="submit" value="Add flight">
          </form>
          </div>
    </div>
</body>
{% endblock %}
