{% extends "base2.njk" %}

{% block body %}
   <button class="btn btn-primary">Book anothe ticket</button>

 <form method="POST">

                        <button class="btn btn-primary">Proceed to Payment</button>
        </form>

{% endblock %}