{% extends "base2.njk" %}


{% block body %}
<body>
    <div class="container">
          <div class="row rb">
            <h1>Slect class</h1>
          <form action="" method="post" class="mg">
            <input type="submit" class="btn btn-primary" value="First">
            <input type="submit" class="btn btn-primary" value="Business">
            <input type="submit" class="btn btn-primary" value="Economy">
          </form>
          </div>
     </div>
</body>
{% endblock %}



