{% extends "base1.njk" %}


{% block body %}
    <body>
    <div class="d-flex  flex-column justify-content-between holder w-50 h-25 position-absolute top-50 start-50 translate-middle">
        <form action="" method="">
                        <label for="username " >username</label>
                        <input type="username" class="form-control form-control-lg inputbox" placeholder="Enter username">
                        <label for="password p-3  py-4">Password</label>
                        <input type="password" class="form-control form-control-lg inputbox" id="password" placeholder="Password">
                        <button type="submit" class="btn btn-dark btn-block"><a href="/user"> login</a></button>
        </form>
    </div>
</body>
{% endblock %}