{% extends "base3.njk" %}


{% block body %}
<div class="d-flex  flex-column justify-content-between holder w-50 h-25 position-absolute top-50 start-50 translate-middle">
        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <h5 class="card-title" name="PercOfBooking"></h5>
            </div>
        </div>
        <br>
        <br>
        <br>
        
{% endblock %}