{% extends "base3.njk" %}


{% block body %}
<body>
    
    <div class="d-flex  flex-column justify-content-between holder w-50 h-25 position-absolute top-50 start-50 translate-middle">
        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <h5 class="card-title">Flight no: {{flight.flight_number}}</h5>
                <p class="card-text">From: {{flight.source_city}}</p>
                <P class="card-text">To: {{flight.destenation}}</P>
                <p class="card-text">Date: {{flight.date}}</p>
                <p class="card-text">Time: {{flight.time}}</p>
                <a href="/user/{{userID}}/{{flight.flight_number}}/book" class="btn btn-primary">book a ticket</a>
                <a href="/user/{{userID}}/{{flight.flight_number}}/book" class="btn btn-primary">add a ticket</a>
                <a href="/user/{{userID}}/{{flight.flight_number}}/view" class="btn btn-primary">view a ticket</a>
                <a href="/user/{{userID}}/{{flight.flight_number}}/waitlist" class="btn btn-primary">View Waitlist</a>
            </div>
        </div>
        <br>
        <br>
        <br>
    

    </div>


</body>
{% endblock %}