{% extends "base2.njk" %}

{% block body %}
<body>
    <div class="container">

  
          <div class="row rb">
            <h1>#1</h1>
          <form action="" method="post" class="mg">
            <span class="rb2" >Ticket Type:</span> <span name="ticketType1"></span>
            <span class="rb2">passenger ID:</span> <span name="passID1"></span>
            <span class="rb2">flight number:</span> <span name="flightNumber1"></span>
            <input type="submit" value="Promote">
          </form>
          </div>


          <div class="row rb">
            <h1>#2</h1>
          <form action="" method="post" class="mg">
            <span class="rb2" >Ticket Type:</span> <span name="ticketType2"></span>
            <span class="rb2">passenger ID:</span> <span name="passID2"></span>
            <span class="rb2">flight number:</span> <span name="flightNumber2"></span>
            <input type="submit" value="Promote">
          </form>
          </div>


          <div class="row rb">
            <h1>#3</h1>
            <form action="" method="post" class="mg">
              <span class="rb2" >Ticket Type:</span> <span name="ticketType3"></span>
              <span class="rb2">passenger ID:</span> <span name="passID3"></span>
              <span class="rb2">flight number:</span> <span name="flightNumber3"></span>
              <input type="submit" value="Promote">
            </form>
          </div>


          <div class="row rb">
            <h1>#4</h1>
            <form action="" method="post" class="mg">
              <span class="rb2" >Ticket Type:</span> <span name="ticketType4"></span>
              <span class="rb2">passenger ID:</span> <span name="passID4"></span>
              <span class="rb2">flight number:</span> <span name="flightNumber4"></span>
              <input type="submit" value="Promote">
            </form>
          </div>


          <div class="row rb">
            <h1>#5</h1>
            <form action="" method="post" class="mg">
              <span class="rb2" >Ticket Type:</span> <span name="ticketType5"></span>
              <span class="rb2">passenger ID:</span> <span name="passID5"></span>
              <span class="rb2">flight number:</span> <span name="flightNumber5"></span>
              <input type="submit" value="Promote">
            </form>
          </div>


          <div class="row rb">
            <h1>#6</h1>
            <form action="" method="post" class="mg">
              <span class="rb2" >Ticket Type:</span> <span name="ticketType6"></span>
              <span class="rb2">passenger ID:</span> <span name="passID6"></span>
              <span class="rb2">flight number:</span> <span name="flightNumber6"></span>
              <input type="submit" value="Promote">
            </form>
          </div>


          <div class="row rb">
            <h1>#7</h1>
            <form action="" method="post" class="mg">
              <span class="rb2" >Ticket Type:</span> <span name="ticketType7"></span>
              <span class="rb2">passenger ID:</span> <span name="passID7"></span>
              <span class="rb2">flight number:</span> <span name="flightNumber7"></span>
              <input type="submit" value="Promote">
            </form>
          </div>


          <div class="row rb">
            <h1>#8</h1>
            <form action="" method="post" class="mg">
              <span class="rb2" >Ticket Type:</span> <span name="ticketType8"></span>
              <span class="rb2">passenger ID:</span> <span name="passID8"></span>
              <span class="rb2">flight number:</span> <span name="flightNumber8"></span>
              <input type="submit" value="Promote">
            </form>
          </div>


          <div class="row rb">
            <h1>#9</h1>
            <form action="" method="post" class="mg">
              <span class="rb2" >Ticket Type:</span> <span name="ticketType9"></span>
              <span class="rb2">passenger ID:</span> <span name="passID9"></span>
              <span class="rb2">flight number:</span> <span name="flightNumber9"></span>
              <input type="submit" value="Promote">
            </form>
          </div>


          <div class="row rb">
            <h1>#10</h1>
            <form action="" method="post" class="mg">
              <span class="rb2" >Ticket Type:</span> <span name="ticketType10"></span>
              <span class="rb2">passenger ID:</span> <span name="passID10"></span>
              <span class="rb2">flight number:</span> <span name="flightNumber10"></span>
              <input type="submit" value="Promote">
            </form>
          </div>


        </div>

</body>
{% endblock %}